/* This file is for your main application css. */
// @import "./phoenix.css";

@import "variables";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/fontawesome";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

.app-toggle {
  @apply m-2 px-1 w-14 h-7 flex items-center rounded-full shadow-inner cursor-pointer;

  .app-toggle-inner-on {
    @apply bg-white w-5 h-5 rounded-full shadow-md transform translate-x-5;
  }
  .app-toggle-inner-off {
    @apply bg-white w-5 h-5 rounded-full shadow-md transform;
  }
}

.app-currency {
  @apply bg-gray-100 hover:bg-white rounded flex items-center justify-between p-2 m-3 h-full shadow-md;

  .app-currency-code {
    @apply flex-none w-20 font-medium;
  }

  .app-currency-code-circle {
    @apply p-1 h-11 w-11 rounded-full flex items-center bg-green-500 text-white shadow-inner;
  }

  .app-currency-title {
    @apply flex-1 text-gray-600;
  }

  .app-currency-rate {
    @apply flex-1 font-medium;
  }

  .app-currency-remove {
    @apply cursor-pointer w-6 h-6 flex-shrink-0 mx-4 text-gray-500 focus:outline-none;
  }
}

.app-selector {
  @apply m-2 p-1 bg-white flex border border-gray-200 rounded;

  .app-selector-input {
    @apply p-1 px-2 appearance-none outline-none w-full text-gray-800;
  }

  .app-selector-chevron-wrapper {
    @apply text-gray-300 w-8 py-1 pl-2 pr-1 border-l flex items-center border-gray-200;

    button {
      @apply cursor-pointer w-6 h-6 text-gray-600 outline-none focus:outline-none;
    }
  }
}

.app-selector-suggestions {
  @apply absolute shadow bg-white z-40 max-h-80 ml-2 mr-2 left-0 right-0 rounded overflow-y-auto;
  overflow-x: hidden;
}
/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
